<div class="row">
    <div class="col-md-6 col-xl-4 height-card box-margin">
        <div class="card border-r-20">
            <div class="card-body">
                <!-- Single Widget -->
                <div class="single-widget-area">
                    <div class="profit-icon border-r-10 bg-light-orange">
                        <img src="assets/img/svg-icon/recruiting.svg" width="25" />
                    </div>

                    <div class="total-profit  d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">Total Recruiting</h6>
                        <div class="counter font-30 font-weight-bold" data-comma-separated="true">
                            120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 height-card box-margin">
        <div class="card border-r-20">
            <div class="card-body">
                <!-- Single Widget -->
                <div class="single-widget-area">
                    <div class="profit-icon border-r-10 bg-green">
                        <img src="assets/img/svg-icon/active-employees.svg" width="25" />
                    </div>

                    <div class="total-profit  d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">Active Employees</h6>
                        <div class="counter font-30 font-weight-bold" data-comma-separated="true">
                            370</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 height-card box-margin">
        <div class="card border-r-20">
            <div class="card-body">
                <!-- Single Widget -->
                <div class="single-widget-area">
                    <div class="profit-icon border-r-10 bg-red">
                        <img src="assets/img/svg-icon/inactive-employees.svg" width="25" />
                    </div>

                    <div class="total-profit  d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">Inactive Employees</h6>
                        <div class="counter font-30 font-weight-bold" data-comma-separated="true">
                            256</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 box-margin">
        <div class="card">
            <div
                class="card-header bg-green user-area d-flex align-items-center justify-content-between">
                <h6 class="card-title mb-0">Employees</h6>
                <ul class="nav nav-tabs mb-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link show active" id="active-01-tab" data-toggle="tab"
                            href="#active-01" role="tab" aria-controls="active-01"
                            aria-selected="true">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-0" id="inactive-02-tab" data-toggle="tab" href="#inactive-02"
                            role="tab" aria-controls="inactive-02" aria-selected="false">Inactive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-0" id="dnr-02-tab" data-toggle="tab" href="#dnr-02"
                            role="tab" aria-controls="dnr-02" aria-selected="false">DNR</a>
                    </li>

                </ul>
                <div class="btn-group">
                    
                    <button class="action-btn bg-dark-green mr-2"><img
                            src="assets/img/svg-icon/add-white.svg" width="20" /></button>
                    <button class="action-btn bg-dark-blue"><img src="assets/img/svg-icon/filter-white.svg"
                            width="20" /></button>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content list_table" id="ticketList">
                    <div class="tab-pane active show fade" id="active-01" role="tabpanel"
                        aria-labelledby="active-01-tab">
                        <div class="table-responsive list_table">
                            <table class="table  table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="pt-0">Facility</th>
                                        <th class="pt-0">Scheduler</th>
                                        <th class="pt-0">Specialty</th>
                                        <th class="pt-0">Email</th>
                                        <th class="pt-0">Phone</th>
                                        <th class="pt-0">Status</th>
                                        <th class="pt-0 text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="inactive-02" role="tabpanel"
                        aria-labelledby="inactive-02-tab">
                        <div class="table-responsive list_table">
                            <table class="table  table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="pt-0">Facility</th>
                                        <th class="pt-0">Scheduler</th>
                                        <th class="pt-0">Specialty</th>
                                        <th class="pt-0">Email</th>
                                        <th class="pt-0">Phone</th>
                                        <th class="pt-0">Status</th>
                                        <th class="pt-0 text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                             <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="dnr-02" role="tabpanel"
                    aria-labelledby="dnr-02-tab">
                    <div class="table-responsive list_table">
                        <table class="table  table-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th class="pt-0">Facility</th>
                                    <th class="pt-0">Scheduler</th>
                                    <th class="pt-0">Specialty</th>
                                    <th class="pt-0">Email</th>
                                    <th class="pt-0">Phone</th>
                                    <th class="pt-0">Status</th>
                                    <th class="pt-0 text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-black">Armstrong Rehab</td>
                                    <td class="text-gray">Laura Williams</td>
                                    <td class="text-black">LTC</td>
                                    <td class="text-gray">hello@test.com</td>
                                    <td class="text-black">1234567890</td>
                                    <td class="text-green">Active</td>
                                    <td class="text-right">
                                         <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-black">Armstrong Rehab</td>
                                    <td class="text-gray">Laura Williams</td>
                                    <td class="text-black">LTC</td>
                                    <td class="text-gray">hello@test.com</td>
                                    <td class="text-black">1234567890</td>
                                    <td class="text-green">Active</td>
                                    <td class="text-right">
                                         <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-black">Armstrong Rehab</td>
                                    <td class="text-gray">Laura Williams</td>
                                    <td class="text-black">LTC</td>
                                    <td class="text-gray">hello@test.com</td>
                                    <td class="text-black">1234567890</td>
                                    <td class="text-green">Active</td>
                                    <td class="text-right">
                                         <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-black">Armstrong Rehab</td>
                                    <td class="text-gray">Laura Williams</td>
                                    <td class="text-black">LTC</td>
                                    <td class="text-gray">hello@test.com</td>
                                    <td class="text-black">1234567890</td>
                                    <td class="text-green">Active</td>
                                    <td class="text-right">
                                         <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-black">Armstrong Rehab</td>
                                    <td class="text-gray">Laura Williams</td>
                                    <td class="text-black">LTC</td>
                                    <td class="text-gray">hello@test.com</td>
                                    <td class="text-black">1234567890</td>
                                    <td class="text-green">Active</td>
                                    <td class="text-right">
                                         <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-black">Armstrong Rehab</td>
                                    <td class="text-gray">Laura Williams</td>
                                    <td class="text-black">LTC</td>
                                    <td class="text-gray">hello@test.com</td>
                                    <td class="text-black">1234567890</td>
                                    <td class="text-green">Active</td>
                                    <td class="text-right">
                                         <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-black">Armstrong Rehab</td>
                                    <td class="text-gray">Laura Williams</td>
                                    <td class="text-black">LTC</td>
                                    <td class="text-gray">hello@test.com</td>
                                    <td class="text-black">1234567890</td>
                                    <td class="text-green">Active</td>
                                    <td class="text-right">
                                         <button href="#" class="mr-2 action-btn bg-edit  md-trigger md-setperspective" data-modal="modal-19"><img
                                                src="assets/img/svg-icon/copy.svg" width="20" /></button>
                                        <button class="action-btn bg-red md-trigger md-setperspective" data-modal="modal-18"><img
                                                src="assets/img/svg-icon/delete.svg" width="20" /></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>