<div class="row">
    <div class="col-xl-12 box-margin">
        <div class="card">
            <div
                class="card-header bg-green user-area d-flex align-items-center justify-content-between">
                <h6 class="card-title mb-0">Approved Clients</h6>
                <ul class="nav nav-tabs mb-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link show active" id="active-01-tab" data-toggle="tab"
                            href="#active-01" role="tab" aria-controls="active-01"
                            aria-selected="true">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-0" id="inactive-02-tab" data-toggle="tab" href="#inactive-02"
                            role="tab" aria-controls="inactive-02" aria-selected="false">Inactive</a>
                    </li>

                </ul>
                <div class="btn-group">
                    <button class="action-btn bg-orange mr-2"><img src="assets/img/svg-icon/edit-white.svg"
                            width="20" /></button>
                    <button class="action-btn bg-dark-green mr-2"><img
                            src="assets/img/svg-icon/add-white.svg" width="20" /></button>
                    <button class="action-btn bg-dark-blue"><img src="assets/img/svg-icon/filter-white.svg"
                            width="20" /></button>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content list_table" id="ticketList">
                    <div class="tab-pane active show fade" id="active-01" role="tabpanel"
                        aria-labelledby="active-01-tab">
                        <div class="table-responsive list_table">
                            <table class="table  table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="pt-0">Facility</th>
                                        <th class="pt-0">Scheduler</th>
                                        <th class="pt-0">Specialty</th>
                                        <th class="pt-0">Email</th>
                                        <th class="pt-0">Phone</th>
                                        <th class="pt-0">Status</th>
                                        <th class="pt-0 text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-green">Active</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="inactive-02" role="tabpanel"
                        aria-labelledby="inactive-02-tab">
                        <div class="table-responsive list_table">
                            <table class="table  table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="pt-0">Facility</th>
                                        <th class="pt-0">Scheduler</th>
                                        <th class="pt-0">Specialty</th>
                                        <th class="pt-0">Email</th>
                                        <th class="pt-0">Phone</th>
                                        <th class="pt-0">Status</th>
                                        <th class="pt-0 text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-black">Armstrong Rehab</td>
                                        <td class="text-gray">Laura Williams</td>
                                        <td class="text-black">LTC</td>
                                        <td class="text-gray">hello@test.com</td>
                                        <td class="text-black">1234567890</td>
                                        <td class="text-danger">Inactive</td>
                                        <td class="text-right">
                                            <a href="#" class="mr-2 action-btn bg-edit"><img
                                                    src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                            <a href="#" class="action-btn bg-red"><img
                                                    src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>