<div class="row">
    <div class="col-md-6 col-xl-4 height-card box-margin">
        <div class="card border-r-20">
            <div class="card-body">
                <!-- Single Widget -->
                <div class="single-widget-area">
                    <div class="profit-icon border-r-10  bg-green">
                        <img src="assets/img/svg-icon/call-green.svg" width="25" />
                    </div>

                    <div class="total-profit  d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">Contact</h6>
                        <div class="counter font-30 font-weight-bold" data-comma-separated="true">
                            120</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 height-card box-margin">
        <div class="card border-r-20">
            <div class="card-body">
                <!-- Single Widget -->
                <div class="single-widget-area">
                    <div class="profit-icon border-r-10  bg-green">
                        <img src="assets/img/svg-icon/user-green.svg" width="25" />
                    </div>

                    <div class="total-profit  d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">Approved Clients</h6>
                        <div class="counter font-30 font-weight-bold" data-comma-separated="true">
                            370</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 height-card box-margin">
        <div class="card border-r-20">
            <div class="card-body">
                <!-- Single Widget -->
                <div class="single-widget-area">
                    <div class="profit-icon border-r-10  bg-green">
                        <img src="assets/img/svg-icon/user-green.svg" width="25" />
                    </div>

                    <div class="total-profit  d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">Prospective Clients</h6>
                        <div class="counter font-30 font-weight-bold" data-comma-separated="true">
                            256</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-xl-12 box-margin">
        <div class="card">
            <div
                class="card-header bg-green user-area d-flex align-items-center justify-content-between">
                <h6 class="card-title mb-0">Approved Clients</h6>
                <div class="btn-group">
                    <button class="action-btn bg-orange mr-2"><img src="assets/img/svg-icon/edit-white.svg"
                            width="20" /></button>
                    <button class="action-btn bg-dark-green mr-2"><img
                            src="assets/img/svg-icon/add-white.svg" width="20" /></button>
                    <button class="action-btn bg-dark-blue"><img src="assets/img/svg-icon/filter-white.svg"
                            width="20" /></button>
                </div>
            </div>
            <div class="card-body">

                <div class="table-responsive list_table">
                    <table class="table  table-nowrap  mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0">Facility</th>
                                <th class="pt-0">Scheduler</th>
                                <th class="pt-0">Specialty</th>
                                <th class="pt-0">Email</th>
                                <th class="pt-0">Phone</th>
                                <th class="pt-0">Status</th>
                                <th class="pt-0 text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-black">Armstrong Rehab</td>
                                <td class="text-gray">Laura Williams</td>
                                <td class="text-black">LTC</td>
                                <td class="text-gray">hello@test.com</td>
                                <td class="text-black">1234567890</td>
                                <td class="text-green">Active</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2 action-btn bg-edit"><img
                                            src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                    <a href="#" class="action-btn bg-red"><img
                                            src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black">Armstrong Rehab</td>
                                <td class="text-gray">Laura Williams</td>
                                <td class="text-black">LTC</td>
                                <td class="text-gray">hello@test.com</td>
                                <td class="text-black">1234567890</td>
                                <td class="text-green">Active</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2 action-btn bg-edit"><img
                                            src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                    <a href="#" class="action-btn bg-red"><img
                                            src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black">Armstrong Rehab</td>
                                <td class="text-gray">Laura Williams</td>
                                <td class="text-black">LTC</td>
                                <td class="text-gray">hello@test.com</td>
                                <td class="text-black">1234567890</td>
                                <td class="text-green">Active</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2 action-btn bg-edit"><img
                                            src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                    <a href="#" class="action-btn bg-red"><img
                                            src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black">Armstrong Rehab</td>
                                <td class="text-gray">Laura Williams</td>
                                <td class="text-black">LTC</td>
                                <td class="text-gray">hello@test.com</td>
                                <td class="text-black">1234567890</td>
                                <td class="text-green">Active</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2 action-btn bg-edit"><img
                                            src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                    <a href="#" class="action-btn bg-red"><img
                                            src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black">Armstrong Rehab</td>
                                <td class="text-gray">Laura Williams</td>
                                <td class="text-black">LTC</td>
                                <td class="text-gray">hello@test.com</td>
                                <td class="text-black">1234567890</td>
                                <td class="text-green">Active</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2 action-btn bg-edit"><img
                                            src="img/svg-icon/copy.svg" width="20" /></a>
                                    <a href="#" class="action-btn bg-red"><img
                                            src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black">Armstrong Rehab</td>
                                <td class="text-gray">Laura Williams</td>
                                <td class="text-black">LTC</td>
                                <td class="text-gray">hello@test.com</td>
                                <td class="text-black">1234567890</td>
                                <td class="text-green">Active</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2 action-btn bg-edit"><img
                                            src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                    <a href="#" class="action-btn bg-red"><img
                                            src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black">Armstrong Rehab</td>
                                <td class="text-gray">Laura Williams</td>
                                <td class="text-black">LTC</td>
                                <td class="text-gray">hello@test.com</td>
                                <td class="text-black">1234567890</td>
                                <td class="text-green">Active</td>
                                <td class="text-right">
                                    <a href="#" class="mr-2 action-btn bg-edit"><img
                                            src="assets/img/svg-icon/copy.svg" width="20" /></a>
                                    <a href="#" class="action-btn bg-red"><img
                                            src="assets/img/svg-icon/delete.svg" width="20" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>